.body{
	margin: 0;
	padding: 0;
}

/*HEADER*/

/*LOGO*/
.b-main__logo-wrap {

}

.b-main__logo-svg {
	position: relative;
}

.b-main__logo_link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

/*END LOGO*/

/*MAIN CONTACT*/

.b-main__contact-wrap {
	margin-top: 26px;
	margin-left: 69px;
}

.b-main__contact_sales {
	float: left;
	margin-right: 90px;
}

.b-main__contact_link {
	display: block;
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 18px;
	letter-spacing: 0.02em;
	line-height: 23px;
	color: #3a3e4c;
	font-weight: 600;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.b-main__contact_cab {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 13px;
	color: #97989e;
}

.contact_cab-sales {
	margin-left: 72px;
}

.contact_cab-comis {
	margin-left: 34px;
}

/*SOCIAL*/

.b-main__social-wrap {
	margin-top: 27px;
	margin-left: 18px;
}

.b-main__social_link {
	display: inline-block;
	width: 37px;
	height: 37px;
	background-color: #242249;
	margin-right: 6px;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.b-main__social_link:hover {
	color: #f15045;
}
/*END SOCIAL*/

.b-main__call-button {
	margin-top: 26px;
	margin-left: -3px;
	width: 185px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 14px;
	background-color: #f15045;
	letter-spacing: 0.02em;
	font-weight: 700;
}

/*END MAIN CONTACT*/

/*NAV*/

/*MENU*/

.main-menu {
	margin-top: 6px;
	width: 100%;
	background-color: #161441;
	height: 60px;
}

.main-menu__item {
	display: inline-block;
	float: left;
	margin-top: 20px;
	list-style: none;
}

.main-menu__link {
	padding: 20px 27px;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.main-menu__link:hover {
	text-decoration: none;
	color: #ef4136;
}

.main-menu__link-first {
	margin-left: -50px;
}

.main-menu__item_drop-up {
	position: relative;
	padding-right: 44px;
}

.main-menu__item_drop-up::after {
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	background: url('../img/css_sprites.png') -293px -154px no-repeat;
	right: 27px;
	top: 50%;
	margin-top: -5px;
}

.main-menu__list-drop {
	display: none;
	position: absolute;
	width: 132px;
	height: 120px;
	background-color: #161441;
	top: 58px;
	padding-left: 0;
	z-index: 20;
}

.menu__item-hide:hover .main-menu__list-drop{
	display: block;
}

.main-menu__item-drop {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 5px;
}

.main-menu__item_drop-link {
	padding: 10px 28px 10px 27px;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.main-menu__item_drop-link:hover {
	text-decoration: none;
	color: #ef4136;
}

/*END MENU*/

.main-menu__search {
  border-left: 1px solid #8b8aa0;
	height: 34px;
	margin-top: 12px;
	margin-left: 1px;
	position: relative;
	cursor: pointer;
}

.main-menu__search::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: url('../img/css_sprites.png') -167px -208px;
	top: 5px;
	right: -9px;
}

.main-menu__search:hover .main-menu__search-input {
	width: 200px;
	opacity: 1;
}

.main-menu__search-input {
	margin-left: -200px;
	width: 200px;
	opacity: 0;
	height: 34px;
	font-size: 15px;
	outline: none;
	border: 0;
	position: relative;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

/*END NAV*/

/*END HEADER*/

/*MAIN CONTENT*/
.main__content {
	margin-top: 19px;
	margin-left: 34px;
}

/*SLIDER*/

.main__slider_wrap {
	position: relative;
}

.main__slider_caption {
	position: absolute;
	z-index: 10;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 26px;
	letter-spacing: 0.02em;
}

.main__car-slider_img {
	border-top: 50px solid #161441;
	border-bottom: 51px solid #161441;
	width: 100%;
	height: 540px !important;
	background: url("../img/carSlider.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.main__car-slider_description {
	position: absolute;
	bottom: -48px;
	left: 140px;
}

.main__car-slider_about-car {
	float: left;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0.013em;
}

.main__car-slider_cost-car {
	margin-left: 147px;
	font-family: "MuseoSansRegular", sans-serif;
	color: #ffffff;
	font-size: 23px;
	line-height: 20px;
	letter-spacing: 0.026em;
}

.main__car-slider .slick-arrow {
	z-index: 10;
	top: auto !important;
	bottom: -2px !important;
	width: 17px !important;
	height: 28px !important;
	left: 17px !important;
}

.main__car-slider .slick-arrow::before {
	opacity: 1 !important;
	content: '' !important;
}

.main__car-slider .slick-prev {
	background: url("../img/css_sprites.png") -54px -208px no-repeat !important;
}

.main__car-slider .slick-next {
	left: 52px !important;
	background: url("../img/css_sprites.png") -91px -208px no-repeat !important;
}

/*END SLIDER*/

/*FORM*/

.main__form {
	width: 100%;
	max-width: 360px;
	height: 540px;
	background-color: #e7e7ec;
	position: relative;
}

.main__form_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-size: 24px;
	color: #0a2e4e;
	margin-left: 15px;
	margin-top: 0 !important;
	padding-top: 12px;
	font-weight: 700;
	letter-spacing: 0.01em;
	padding-bottom: 8px;
}

.main__form_more {
	position: absolute;
	top: 19px;
	right: 20px;
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 14px;
	color: #0a2e4e;
	text-decoration: underline;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.main__form_more:hover {
	opacity: 0.8;
	text-decoration: none;
}

.main__form-capt_sel {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 14px;
	color: #0a2e4e;
	margin-left: 17px;
	margin-bottom: 8px;
	margin-top: 13px;
	line-height: 14px;
	clear: both;
}
/*SELECT*/

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	position: relative;
	font-family: "MuseoSansBold", sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #666666;
	width: 325px;
	height: 30px;
	margin-left: 15px;
	display: block;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	padding: 7px 15px 7px 9px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #666666 transparent transparent transparent;
	position: absolute;
	top: 11px;
	right: 8px;
}

.select-styled:hover {
	background-color: #161441;
	color: #ffffff;
}

.select-styled:active, .select-styled.active {
	background-color: #ffffff;
}

.select-styled:active:after, .select-styled.active:after {
	top: 5px;
	border-color: transparent transparent #666666 transparent;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
}

.select-options li {
	margin: 0;
	padding: 6px 0;
	text-indent: 15px;
	border-top: 1px solid #c0c0c0;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	letter-spacing: 0.1em;
	font-family: "MuseoSansBold", sans-serif;
	font-size: 12px;
}

.select-options li:hover {
	color: #ffffff;
	background: #161441;
}

.select-options li[rel="hide"] {
	display: none;
}

.smallSelect {
	width: 74px;
	float: left;
	margin-right: -13px;
	display: inline-block;
}

.middleSelect {
	width: 150px;
}

.mediumSelect {
	width: 91px;
	margin-right: -13px;
	float: left;
}
/*END SELECT*/


.main__form_year {
	margin-top: 15px;
}

.main__form_body {
	padding-top: 15px;
}

.item-trans {
	position: absolute;
	right: 20px;
	top: 245px;
}

.item-fuel {
	position: absolute;
	top: 310px;
}

.item-engine {
	position: absolute;
	top: 310px;
	right: 33px;
}

.item-cost {
	position: absolute;
	top: 388px;
}

.main__form_cost {
	margin-top: 5px;
	margin-bottom: 12px;
}

.item-nds {
	position: absolute;
	top: 410px;
	right: 20px;
}

.main__form_nds {
	font-family: "MuseoSansRegular", sans-serif;
	color: #0a2e4e;
	font-size: 14px;
	margin-top: 20px;
}

/*RADIO BUTTON*/
.switch-field {
	position: absolute;
	top: 0;
	right: 26px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field label {
	float: left;
}

.switch-field label {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-right: 2px;
	background-color: #e1e1e1;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	line-height: 23px;
	box-shadow: 1px 1px 0.98px 0.02px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #fff;
	color: #0a2e4e;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-field label {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 10px;
	color: #666666;
}

.switch-field .fa{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

.switch-field input:checked + label .fa{
	color: #0a2e4e;
}
/*END RADIO BUTTON*/

/*CHECKBOX*/
.input-checkbox {
	width: 20px;
	height: 20px;
}

.input-checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.input-checkbox:not(checked) + .label-checkbox {
	position: relative;
}
.input-checkbox:not(checked) + .label-checkbox::before {
	content: '';
	position: absolute;
	top: -37px;
	left: -17px;
	width: 20px;
	height: 20px;
	background: #ffffff;
	cursor: pointer;
}
.input-checkbox:not(checked) + .label-checkbox::after {
	content: '';
	position: absolute;
	top: -37px;
	left: -17px;
	width: 17px;
	height: 13px;
	margin: 3px 2px;
	background: url("../img/checked.png") no-repeat center;
	background-size: cover;
	opacity: 0;
	transition: all .3s;
	cursor: pointer;
}
.input-checkbox:checked + .label-checkbox::after {
	opacity: 1;
}
/*END CHECKBOX*/

.main__form_submit {
	width: 325px;
	height: 40px;
	background-color: #ef4136;
	border-radius: 7px;
	color: #fff;
	font-size: 14px;
	font-family: "MuseoSansBold", sans-serif;
	line-height: 40px;
	outline: none;
	border: none;
	margin-left: 17px;
	position: absolute;
	bottom: 11px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.main__form_submit:hover {
	background-color: #cb291f;
}
/*END FORM*/

/*ORDER*/
.order-container {
	width: 100%;
	height: 270px;
	margin-top: 49px;
}

.order-container .col-lg-6 {
	padding: 0 !important;
}

/*ORDER-CAR*/

.order-car {
	width: 100%;
	max-width: 555px;
	height: 270px;
	background: url("../img/car.jpg");
	position: relative;
	margin-left: 15px;
}

.order-car::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(22,20,65, 0.93);
}

.order-car__caption {
	position: absolute;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	top: 40px;
	left: 34px;
	line-height: 35px;
	letter-spacing: 0.06em;
	z-index: 10;
	text-transform: uppercase;
}

/*END ORDER-CAR*/

/*ORDER ITEMS*/
.order-items__wrap {
	width: 100%;
	height: 100%;
	margin-left: -15px;
}

.order-item {
	position: relative;
	height: 90px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.order-item::after {
	content: '';
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -21px;
	width: 24px;
	height: 42px;
	background: url("../img/css_sprites.png") no-repeat -10px -209px;
}

.order-item:hover {
	background-color: #e7e7ec;
}

.order-item_capt {
	text-transform: uppercase;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #1e1e1e;
	padding-top: 17px;
	padding-left: 71px;
	padding-bottom: 11px;
	line-height: 24px;
	letter-spacing: 0.06em;
	margin: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.order-item_desc {
	font-family: "MuseoSansRegular", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	color: #1e1e1e;
	letter-spacing: 0.06em;
	margin-left: 71px;
}

.order-item_link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.order-item_link:hover {
	text-decoration: none;
}

/*END ORDER ITEMS*/
/*END ORDER*/


/*ADVANTAGES*/
.advantages-container {
	margin-top: 73px;
}

.advantages__caption {
	text-align: center;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	color: #1b1b1b;
	font-size: 30px;
}

/*ADVANTAGES ITEMS*/
.advantages__item {
	height: 313px;
}

.advantages__item_img {
	width: 82px;
	height: 80px;
	background: url("../img/css_sprites.png") no-repeat -10px -10px;
	margin: 0 auto;
	margin-top: 54px;
}

.advantages__item_img-laptop {
	background-position: -9px -109px;
}

.advantages__item_img-paint {
	background-position: -200px -10px;
}

.advantages__item_img-key {
	background-position: -110px -9px;
}

.advantages__item_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #1b1b1b;
	margin-top: 70px;
	margin-left: 10px;
}

.advantages__item_description {
	font-family: "MuseoSansRegular", sans-serif;
	color: #9b9b9b;
	font-size: 16px;
	line-height: 24px;
	margin-top: 14px;
	margin-left: 10px;
}

/*END ADVANTAGES ITEMS*/
/*END ADVANTAGES*/


/*SERVICES*/
.services-container {
	width: 100%;
	height: 270px;
	margin-top: 70px;
}

.services-container .col-lg-6 {
	padding: 0 !important;
}

/*SERVICES-CAR*/

.services-car {
	width: 100%;
	max-width: 555px;
	height: 270px;
	background: url("../img/car.jpg");
	position: relative;
	margin-left: 15px;
}

.services-car::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(22,20,65, 0.93);
}

.services-car__caption {
	position: absolute;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	top: 44px;
	right: 50px;
	line-height: 35px;
	letter-spacing: 0.06em;
	z-index: 10;
	text-transform: uppercase;
}

/*END SERVICES-CAR*/

/*SERVICES ITEMS*/
.services-items__wrap {
	width: 100%;
	height: 100%;
	margin-left: 15px;
}

.services-item {
	position: relative;
	height: 90px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.services-item::after {
	content: '';
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -21px;
	width: 24px;
	height: 42px;
	background: url("../img/css_sprites.png") no-repeat -10px -209px;
}

.services-item::before {
	content: '';
	position: absolute;
	left: 18px;
	top: 50%;
	margin-top: -28px;
	width: 39px;
	height: 54px;
	background: url("../img/css_sprites.png") no-repeat -210px -110px;
}

.services-item:hover {
	background-color: #e7e7ec;
}

.services-item_capt {
	text-transform: uppercase;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #1e1e1e;
	padding-top: 21px;
	padding-left: 89px;
	padding-bottom: 9px;
	line-height: 24px;
	letter-spacing: 0.06em;
	margin: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.services-item_desc {
	font-family: "MuseoSansRegular", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	color: #1e1e1e;
	letter-spacing: 0.06em;
	margin-left: 89px;
}

.services-item_link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.services-item_link:hover {
	text-decoration: none;
}

/*END SERVICES ITEMS*/
/*END SERVICES*/


/*NEWS*/
.news-container {
	margin-top: 60px;
}

.news__caption {
	text-align: center;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #1e1e1e;
	margin-bottom: 45px;
}

/*NEWS TEH ITEMS*/
.news__teh-item {
	width: 100%;
	height: 273px;
}

.news__teh-item_img {
	width: 100%;
	height: 150px;
	background: url("../img/car_news.png") no-repeat center;
	margin-bottom: 16px;
	position: relative;
}

.news__teh-item_img-link {
	position: absolute;
	width: 100%;
	height: 100%;
}

.news__teh-info_section {
	float: left;
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 12px;
	color: #999999;
	margin-right: 17px;
}

.news__teh-info_anons,
.news__teh-info_date-date {
	color: #ef4136;
}

.news__teh-info_anons:hover,
.news__teh-info_date-date:hover{
	color: #ef4136;
	text-decoration: none;
}

.news__teh-info_date {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 12px;
	color: #999999;
}

.news__teh-info_descr {
	position: relative;
	top: 1px;
}

.news__teh-info_descr-caption {
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #1b1b1b;
	letter-spacing: 0.01em;
	margin-bottom: 9px;
}

.news__teh-info_descr-desc {
	font-family: "MuseoSansRegular", sans-serif;
	color: #9b9b9b;
	font-size: 14px;
	line-height: 17px;
}

.news__teh-info_descr-button {
	position: relative;
	float: right;
	margin-top: -49px;
	border-bottom: 36px solid red;
	border-left: 9px solid transparent;
	height: 0;
	width: 34px;
}

.news__teh-info_descr-button::after {
	content: '';
	width: 9px;
	height: 14px;
	position: absolute;
	top: 11px;
	margin-left: 6px;
	background: url("../img/css_sprites.png") no-repeat -292px -120px;
}

/*END NEWS TEH ITEMS*/

/*NEWS TEH-NEWS ITEMS*/

.news__teh-news_item {
	width: 100%;
	height: 120px;
}

.teh-news_item-two {
	margin-top: 30px;
}

.news__teh-news_img {
	float: left;
	width: 165px;
	height: 100%;
	background: url("../img/car_news.png") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 27px;
	position: relative;
}

.news__teh-news_img-link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.news__teh-news_descr-button {
	position: relative;
	float: right;
	margin-top: -32px;
	margin-right: 1px;
	border-bottom: 36px solid red;
	border-left: 9px solid transparent;
	height: 0;
	width: 34px;
}

.news__teh-news_descr-button::after {
	content: '';
	width: 9px;
	height: 14px;
	position: absolute;
	top: 11px;
	margin-left: 6px;
	background: url("../img/css_sprites.png") no-repeat -292px -120px;
}

.teh-news-info_descr-desc {
	width: 90%;
	margin-top: -2px;
}


/*END NEWS TEH-NEWS ITEMS*/

/*NEWS FORM*/

.news__subscribe_wrapper {
	width: 100%;
	height: 270px;
	background: #e7e7ec;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.news__subscribe_caption {
	font-family: "MuseoSansBold", sans-serif;
	color: #202020;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin: 0;
	padding-top: 13px;
}

.news__subscribe_sale {
	font-family: "MuseoSansRegular", sans-serif;
	color: #0a2e4e;
	font-size: 16px;
	text-align: center;
	display: block;
	padding-top: 10px;
}

.news__subscribe_sale:hover {
	color: #0a2e4e;
	text-decoration: none;
}

.news__subscribe_mail-form {
	margin-left: 19px;
	width: 100%;
	max-width: 325px;
	padding-top: 25px;
}

.news__subscribe_mail-capt {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 14px;
	color: #0a2e4e;
}

.news__subscribe_mail-input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	background-color: #fff;
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 14px;
	color: #202020;
	margin-bottom: 25px;
	padding-left: 10px;
}

.news__subscribe_mail-button {
	width: 100%;
	height: 40px;
	background-color: #ef4136;
	color: #fff;
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 14px;
	outline: none;
	border: none;
	border-radius: 7px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.news__subscribe_mail-button:hover {
	background-color: #cb291f;
}

/*END NEWS FORM*/

/*END NEWS*/

/*BANNER*/

.banner-container {
	width: 100%;
	height: 123px;
	margin-top: 99px;
}

.banner-main {
	width: 100%;
	height: 123px;
	background: url("../img/baner.jpg") no-repeat 0 0;
	position: relative;
}

.banner-main::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(22,20,65, 0.93);
}

.banner-caption {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 95px;
	font-family: "MuseoSansItalic", sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	z-index: 10;
}

/*END BANNER*/

/*ABOUT*/

.about-container {
	width: 100%;
	height: 370px;
	margin-top: 69px;
}

.about-image {
	width: 113%;
	height: 370px;
	background: url("../img/about.jpg") no-repeat 0 0;
}

.about-info_wrapper {
	margin-left: -33px;
	width: 95%;
}

.about-info_aauto {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #062d55;
	letter-spacing: 0.06em;
}

.about-info_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;
	color: #1b1b1b;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 17px;
}

.about-info_descr {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #282828;
	margin-top: 23px;
	letter-spacing: 0.014em;
}

.about-info_button {
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #21204b;
	border: 2px solid #181742;
	border-radius: 7px;
	width: 325px;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	margin-top: 35px;
	display: block;
	padding: 10px 107px;
}

.about-info_button:hover {
	text-decoration: none;
	color: #21204b;
	border-color: #fff;
}

/*END ABOUT*/

/*PARTNERS*/
.partners-container {
	width: 100%;
	margin-top: 91px;
}

.partners_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;
	color: #1b1b1b;
	margin: 0;
	text-align: center;
	margin-left: -30px;
	padding-bottom: 30px;
}

.partners_slider {
	width: 100%;
	height: 107px;
  max-width: 986px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.partners_slide {
	width: 100%;
	height: 107px !important;
	background: url("../img/partners.png") no-repeat 0 0;
}

.partners_slide::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/partners-hover.png") no-repeat 0 0;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.partners_slide:hover::after {
	opacity: 1;
}

.partners_slider .slick-arrow {
	width: 30px !important;
	height: 51px !important;
	background: url("../img/css_sprites.png") -160px -110px no-repeat !important;
	z-index: 20;
}

.partners_slider .slick-prev {
	left: -73px !important;
	top: 58px;
}

.partners_slider .slick-arrow::before {
	content: '';
}

.partners_slider .slick-next {
	right: -74px !important;
	background: url("../img/css_sprites.png") -109px -110px no-repeat !important;
	top: 58px;
}
/*END PARTNERS*/

/*END MAIN CONTENT*/

/*FOOTER*/
.footer {
	width: 100%;
	margin-top: 88px;
}

/*FOOTER MAP*/
.footer-map {
	background-color: #242249;
	padding-top: 48px;
	padding-bottom: 73px;
}

.footer-map_info {
	margin-left: 10px;
	margin-top: 6px;
}

.footer-map_logo {
	position: relative;
	margin-bottom: 9px;
}

.footer-map_logo-link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.footer-map_info-par {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 12px;
	color: #e7e7e7;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0 !important;
	margin-left: 10px;
}

.footer-map_services {
	margin-left: 18px;
	width: 100%;
}

.footer-map_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: relative;
	margin-bottom: 47px;
}

.footer-map_caption::after {
	content: '';
	position: absolute;
	width: 35px;
	height: 5px;
	background-color: #ef4136;
	bottom: -21px;
	left: 0;
}

.footer-map_services-list {
	padding-left: 0;
	margin-left: 2px;
}

.footer-map_item {
  list-style: none;
	margin-top: 12px;
}

.fa-angle-right {
	color: #fff;
	padding-right: 13px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-map_link {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #eeeeee;
	position: relative;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-map_link:hover {
	color: #ef4136;
	text-decoration: none;
}

.footer-map_link:hover .fa-angle-right {
	color: #ef4136;
}

.footer-map_about {
	margin-left: 19px;
}

.footer-map_about-list {
	padding-left: 2px;
}

.footer-map_contact {
	margin-left: 18px;
}

.footer-map_contact-list {
	padding-left: 0;
	position: relative;
}

.footer-map_contact-item {
	list-style: none;
	position: absolute;
	letter-spacing: 0.01em;
}

.footer-map_contact-link {
	font-family: "MuseoSansRegular", sans-serif;
	font-size: 16px;
	color: #eeeeee;
	line-height: 22px;
	float: right;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-map_contact-link:hover {
	color: #ef4136;
	text-decoration: none;
}

.footer-map_contact-item .fa {
	font-size: 29px;
	color: #ef4136;
}

.contact-item_item-addres {
	right: -4px;
}

.contact-item_item-addres .fa-map-marker {
	position: absolute;
	left: -36px;
	top: 5px;
}

.contact-link_item-tel {
	top: 65px;
	margin-left: 36px;
}

.contact-link_item-tel .fa-phone {
	position: absolute;
	left: -41px;
	top: 6px;
}

.contact-item_item-mail {
	top: 136px;
	margin-left: 36px;
}

.contact-item_item-mail .fa-envelope {
	position: absolute;
	left: -40px;
	font-size: 23px;
}



/*END FOOTER MAP*/

/*FOOTER SUBSCRIBE*/
.footer-subscribe {
	background-color: #171542;
	padding-top: 54px;
	padding-bottom: 42px;
}

.footer-subscribe_caption {
	font-family: "MuseoSansBold", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-left: 20px;
	line-height: 19px;
}

.footer-subscribe_social-list {
	padding: 0;
	margin-left: 6px;
	margin-top: 3px;
}

.footer-subscribe_social-item {
	list-style: none;
	display: inline-block;
	height: 37px;
	width: 37px;
	margin-right: 8px;
	background-color: #242249;
	position: relative;
	text-align: center;
	border-radius: 1px;
}

.footer-subscribe_social-link {
	font-size: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	padding-top: 5px;
	border-radius: 1px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-subscribe_social-link:hover {
	background-color: #ef4136;
	color: #000;
}

.footer-subscribe_subscribe {
	font-family: "MuseoSansBold", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-left: 4px;
	line-height: 19px;
}

.footer-subscribe_mail-wrapper {
	margin-left: 5px;
	width: 110%;
}

.footer-subscribe__input {
	width: 241px;
	height: 40px;
	background-color: #171542;
	border: 1px solid #525160;
	padding-left: 15px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#9b9b9b;
	font-size: 14px;
	font-family: "MuseoSansRegular", sans-serif;
	float: left;
}

.footer-subscribe__input::-webkit-input-placeholder {
	color:#9b9b9b;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input::-moz-placeholder {
	color:#9b9b9b;  /* Firefox 19+ */
	opacity: 1;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input:-moz-placeholder {
	color:#9b9b9b;  /* Firefox 18- */
	opacity: 1;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input:-ms-input-placeholder {
	color:#9b9b9b;
	opacity: 1;
	transition: opacity 0.3s ease;
	font-size: 14px;
	font-family: "MuseoSansRegular", sans-serif;
}

.footer-subscribe__input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input:focus::-moz-placeholder { /* Firefox 19+ */
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input:focus:-moz-placeholder { /* Firefox 18- */
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer-subscribe__input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.footer-subscribe_submit {
	color:#fff;
	font-size: 14px;
	font-family: "MuseoSansRegular", sans-serif;
	width: 130px;
	height: 40px;
	background-color: #ef4136;
	border: 1px solid #6f6f6f;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*END FOOTER SUBSCRIBE*/

/*END FOOTER*/